@import "tailwindcss";
@import "./base.css";

/* Global kecil2 kalau mau */
html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}